PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/rentease?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=supersecretjwtkey
ENABLE_LISTING_MODERATION=true
ADMIN_EMAIL=admin@rentease.com
ADMIN_PASSWORD=Admin123!
